name: 02 - Workflow Events

on:
  - push
  - workflow_dispatch

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show the triggering event
        run: echo "I' ve been triggered by the workflow_dispatch event ${{ github.event_name }}"
